<%= form_for @zoo, :url => { :controller => 'zoos', :action => 'update', :id => @zoo } do |f| %>
    <%= f.label :name, "Name" %>
    <%= f.text_field :name %>

    <%= f.label :age, "Age" %>
    <%= f.text_field :age %>

    <%= f.submit "Update" %>
<% end %>
