<ul>
<% @zoos.each do |zoo| %>
  <li>
    <%= zoo.name %>
    <%= link_to 'Show', :controller => 'zoos', :action => 'show', :id => zoo %>
    <%= link_to 'Edit', :controller => 'zoos', :action => 'edit', :id => zoo %>
    <%= link_to 'Delete', :controller => 'zoos', :action => 'destroy', :id => zoo %>
  </li>
<% end %>
</ul>
<%= link_to 'New', :controller => 'zoos', :action => 'new' %>
